{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu des pizzas</title>
    <link rel="stylesheet" href="{% static 'menu/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>
<body>
    <img id="logo" src="{% static 'menu/img/small_logo.png' %}">
    <h1>Nos Pizzas</h1>

    <section class="menu_list">
        {% for pizza in pizzas %}
            <div class="menu_item">
                <h2 class="menu_title"></span>{{pizza.nom}} : <span class="menu_price">{{pizza.prix}} €</span></h2>
                <span class="menu_ingredients">{{pizza.ingredients}}</span>
                {% if pizza.vegetarienne %}
                <span class="menu_vegan">100% vegan</span>
                {% endif %}
            </div>
        {% endfor %}
    </section>
</body>
</html>